<a href="https://colab.research.google.com/github/DmitriyBRM/practice-aia-2024/blob/main/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_0_5_0_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ФИО:

In [ ]:
Бурменский Дмитрий Викторович

# **Задание 1**



Дан словарь, содержащий имена и возраст людей, напишите программу выводящую возраст человека по имени

Дано:

```
{"Alice": 25, "Bob": 30, "Charlie": 35}
```

Вввод:


```
Alice
```

Вывод:


```
Alice 25
```

In [1]:
age = {"Alice": 25, "Bob": 30, "Charlie": 35}
name = input('введите имя:')
print(name, age[name])

введите имя:Charlie
Charlie 35

# **Задание 2**



Дан список, состоящий из целых чисел, необходимо написать функцию считающую сумму всех положительных четных чисел списка

Ввод:

```
1, 2, 3, 4, 5, 6, 7, 8, 9
```

Вывод:


```
20
```

***Запрещено:***

*   Использование готовых функций для суммирования чисел

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
suma = 0
for number in numbers:
    if number > 0 and number%2 == 0:
        suma+= number
print(suma)

28

# **Задание 3**

Дан словарь, содержащий название фрукта и его цвет, выведите список всех желтых фруктов


Дано:

```
fruits_and_colors = {
    "apple": "red",
    "banana": "yellow",
    "mango": "yellow",
    "orange": "orange",
    "lemon": "yellow",
    "grape": "purple"
}
```

Вывод:


```
Yellow fruits:
banana
lemon
mango
```

In [ ]:
fruits_and_colors = {
    "apple": "red",
    "banana": "yellow",
    "mango": "yellow",
    "orange": "orange",
    "lemon": "yellow",
    "grape": "purple"
}
print('Yellow fruits:')
for fruits, colors in fruits_and_colors.items():
    if colors == 'yellow':
        print(fruits)

Yellow fruits:
banana
mango
lemon

# **Задание 4**



Дан словарь, необходимо написать функцию меняющую ключ и значение местами

Дано:


```
{"a": 1, "b": 2, "c": 3}
```

Вывод:

```
{1: 'a', 2: 'b', 3: 'c'}
```

In [ ]:
slovar = {"a": 1, "b": 2, "c": 3}
slovar2 = {}
for keys, value in slovar.items():
    slovar2[value] = keys
print(slovar2)

{1: 'a', 2: 'b', 3: 'c'}

# **Задание 5**

Дан список слов, неограниченной длинны, сформируйте словарь, где в качестве ключа будет слово, а в качестве значения количество символов

**Критерии**


*   Словарь необходимо отсортировать по убыванию количества элементов в списке.
*   Подсчет элементов должен быть реализован в отдельной функции
*   Сортировка пары `ключ:значение` должна быть реализована также в виде отдельной функции




Дано:
```
['apple','banana','orange','apple','apple','banana']
```


Вывод:
```
{'apple':3, 'banana': 2, 'orange': 1}
```

***Запрещено:***

*   Использование готовых функций для сортировки
*   Использование готовых функций для подсчета элементов

In [ ]:
slova = ['apple','banana','orange','apple','apple','banana']

def count(a, k):
    slovar = {}
    b = []
    c = []
    slovar = {}
    for i in a:
        b.append(i)
        c.append(i)
    for i in c:
        while i in b:
            k+= 1
            b.remove(i)
        else:
            if k != 0:
                slovar[i] = k
                k = 0
    return slovar
slovarik = count(slova,0)

#################################
def f_max(slovar_main):
    max_v = 0
    max_key = None

    while slovar_main != {}:
        for k, v in slovar_main.items():
            if v > max_v:
                max_v = v
                max_key = k
        return max_v, max_key
def f(slovar_main):
    new_slovar = {}
    while slovar_main != {}:
        max_v, max_key = f_max(slovar_main)
        new_slovar[max_key] = max_v
        del slovar_main[max_key]
    return new_slovar
######################################

print(f(slovarik))

{'apple': 3, 'banana': 2, 'orange': 1}

# **Задание 6**

Дан словарь, содержащий информацию о людях, необходимо:



*   Вывести всех людей старше 30 лет
*   Вывести список городов и количество людей из словаря проживающих в них
*   Вывести список профессий и список людей для каждой профессии

**Критерии**

Каждый из пунктов необходимо реализовать в виде функции

In [ ]:
people_info = {
    "Alice": {"age": 25, "city": "New York", "occupation": "Engineer"},
    "Bob": {"age": 30, "city": "Los Angeles", "occupation": "Designer"},
    "Charlie": {"age": 35, "city": "Chicago", "occupation": "Teacher"},
    "Diana": {"age": 28, "city": "Miami", "occupation": "Doctor"},
    "Ethan": {"age": 40, "city": "Seattle", "occupation": "Chef"},
    "Frank": {"age": 32, "city": "Atlanta", "occupation": "Lawyer"},
    "Gabriella": {"age": 29, "city": "San Francisco", "occupation": "Software Engineer"},
    "Harrison": {"age": 38, "city": "Denver", "occupation": "Architect"},
    "Isabella": {"age": 26, "city": "Washington D.C.", "occupation": "Journalist"},
    "Julian": {"age": 42, "city": "Miami", "occupation": "Musician"},
    "Kate": {"age": 31, "city": "Philadelphia", "occupation": "Nurse"},
    "Lucas": {"age": 36, "city": "Nashville", "occupation": "Businessman"},
    "Mia": {"age": 27, "city": "Atlanta", "occupation": "Artist"},
    "Natalie": {"age": 39, "city": "Portland", "occupation": "Writer"},
    "Oliver": {"age": 44, "city": "Minneapolis", "occupation": "Professor"},
    "Penelope": {"age": 33, "city": "San Diego", "occupation": "Marketing Manager"},
    "Quincy": {"age": 41, "city": "Nashville", "occupation": "Singer"},
    "Rachel": {"age": 34, "city": "Cleveland", "occupation": "Teacher"},
    "Sophia": {"age": 29, "city": "Nashville", "occupation": "Engineer"},
    "Tessa": {"age": 37, "city": "Miami", "occupation": "Lawyer"}
}

In [ ]:
people_info = {
    "Alice": {"age": 25, "city": "New York", "occupation": "Engineer"},
    "Bob": {"age": 30, "city": "Los Angeles", "occupation": "Designer"},
    "Charlie": {"age": 35, "city": "Chicago", "occupation": "Teacher"},
    "Diana": {"age": 28, "city": "Miami", "occupation": "Doctor"},
    "Ethan": {"age": 40, "city": "Seattle", "occupation": "Chef"},
    "Frank": {"age": 32, "city": "Atlanta", "occupation": "Lawyer"},
    "Gabriella": {"age": 29, "city": "San Francisco", "occupation": "Software Engineer"},
    "Harrison": {"age": 38, "city": "Denver", "occupation": "Architect"},
    "Isabella": {"age": 26, "city": "Washington D.C.", "occupation": "Journalist"},
    "Julian": {"age": 42, "city": "Miami", "occupation": "Musician"},
    "Kate": {"age": 31, "city": "Philadelphia", "occupation": "Nurse"},
    "Lucas": {"age": 36, "city": "Nashville", "occupation": "Businessman"},
    "Mia": {"age": 27, "city": "Atlanta", "occupation": "Artist"},
    "Natalie": {"age": 39, "city": "Portland", "occupation": "Writer"},
    "Oliver": {"age": 44, "city": "Minneapolis", "occupation": "Professor"},
    "Penelope": {"age": 33, "city": "San Diego", "occupation": "Marketing Manager"},
    "Quincy": {"age": 41, "city": "Nashville", "occupation": "Singer"},
    "Rachel": {"age": 34, "city": "Cleveland", "occupation": "Teacher"},
    "Sophia": {"age": 29, "city": "Nashville", "occupation": "Engineer"},
    "Tessa": {"age": 37, "city": "Miami", "occupation": "Lawyer"}
}


##################### ЛЮДИ, СТАРШЕ 30 ########################################

def age_30(people_info):
    people_age = []


    for name, info in people_info.items():
        for k, v in info.items():

            if k == 'age' and v > 30:
                people_age.append(name)

    return people_age


############ ГОРОДА И КОЛИЧЕСТВО ПРОЖИВАЮЩИХ ###################

def population(people_info):

    city_people = []
    cities = []


    for info in people_info.values():
        for k, v in info.items():

            if k == 'city':
                city_people.append(v)


    town_population = {}
    cities = set(city_people)


    for town in cities:
        k = 0
        for amount in city_people:

            if town == amount:
                k+= 1
                town_population[town] = k

    return town_population


################## ПРОФЕССИИ И РАБОТНИКИ ###################

def profession(people_info):
    profession = []


    for info in people_info.values():
        for k, v in info.items():
            if k == 'occupation':
                profession.append(v)
    profession = set(profession)

    for prof in profession:
        print(f'{prof}: ', end= '',)

        for name, info in people_info.items():
            for k, name_job in info.items():

                if k == 'occupation' and name_job == prof:
                    print(name)

print('Вывести всех людей старше 30 лет')
print(age_30(people_info))

print('Вывести список городов и количество людей из словаря проживающих в них')
print(population(people_info))

print('Вывести список профессий и список людей для каждой профессии')
profession(people_info)

Вывести всех людей старше 30 лет
['Charlie', 'Ethan', 'Frank', 'Harrison', 'Julian', 'Kate', 'Lucas', 'Natalie', 'Oliver', 'Penelope', 'Quincy', 'Rachel', 'Tessa']
Вывести список городов и количество людей из словаря проживающих в них
{'Atlanta': 2, 'San Francisco': 1, 'New York': 1, 'Seattle': 1, 'Cleveland': 1, 'Nashville': 3, 'Los Angeles': 1, 'Denver': 1, 'Portland': 1, 'San Diego': 1, 'Minneapolis': 1, 'Philadelphia': 1, 'Miami': 3, 'Chicago': 1, 'Washington D.C.': 1}
Вывести список профессий и список людей для каждой профессии
Chef: Ethan
Businessman: Lucas
Professor: Oliver
Singer: Quincy
Artist: Mia
Marketing Manager: Penelope
Software Engineer: Gabriella
Writer: Natalie
Journalist: Isabella
Engineer: Alice
Sophia
Nurse: Kate
Designer: Bob
Teacher: Charlie
Rachel
Architect: Harrison
Doctor: Diana
Musician: Julian
Lawyer: Frank
Tessa

# **Задание 7**

Задание: Разработка системы отзывов о предметах

Описание: Создать программу на Python для хранения и управления отзывами о предметах учебного курса. Программа должна позволять пользователям добавлять, просматривать и удалять отзывы, а также вычислять средний балл по заданному предмету.

**Функционал:**

*   Добавление отзыва и оценки:
   *   Пользователь может ввести название предмета, оценку (от 1 до 5) и текст отзыва.
   *   Отзывы должны храниться в структуре данных (например, словаре), где ключом будет название предмета, а значением - список отзывов (каждый отзыв может хранить оценку и комментарий).
*   Просмотр отзывов и оценок:
   *   Пользователь может запросить отзывы для указанного предмета.
   *   Если для указанного предмета есть отзывы, программа должна отобразить список всех отзывов и соответствующих оценок.
*   Удаление отзыва:
   *   Пользователь может удалить отзыв по индексу. Необходимо заранее уведомить пользователя о том, какие отзывы доступны для удаления.
   *   Программа должна обработать ситуацию, когда индекс введен неправильно.
*   Вычисление среднего балла по предмету:
   *   Пользователь может ввести название предмета, и программа должна вычислить и вывести средний балл по всем отзывам для этого предмета.
   *   Если отзывов нет, программа должна сообщить об этом.


**Критерии:**

*   Код должен быть оформлен в виде функций
*   Необходимо обрабатывать неправильный ввод пользователя
*   Должны быть комментарии к функциям
*   Присутсвует весь дополнительный функционал



**Опционально:**

Предлагаю вам добавить свои критерии оценки или вопросы, на которые должен ответить студент, чтобы оценить пару